/** @format */
.footer {
  display: flex;
  height: 160px;
  bottom: 0;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  background-color: #108a9c;
}
.icons {
  display: flex;
}
.disclaimer {
  display: flex;
  flex-direction: row;
  text-align: center;
  text-shadow: 0px 0px 2px black;
}

// #4ABCC3
//#57C29F
