// @tailwind base;
//
// body {
//   background-color: rgba(122, 122, 122, 0.5);
// }
// h1 {
//   font-size: xx-large;
// }
// a {
//   font-size: medium;
//   font-family: Arial, Helvetica;
//   color: rgba(255, 255, 255, 0.6);
// }
//
// @tailwind components;
//
// @tailwind utilities;

/* Here we can add our own utilities or custom CSS */

body {
  background-color: #4abcc5;
  //background-image: url("../svgImages/Circles.svg");
  background-size: cover;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

h1 {
  font-size: 3em;
  color: rgb(235, 232, 232);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

h2 {
  color: rgba(255, 255, 255, 0.7);
}
h4 {
  color: rgb(63, 63, 63);
}

a {
  font-size: 1.5em;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: rgba(255, 255, 255, 0.6);
}

p {
  font-size: 1.1em;
}

.title {
  display: flex;
  width: 80%;
  height: 50%;
  flex-direction: column;
  align-items: center;
  flex-shrink: 1;
  h1 {
    font-size: 5em;
  }
  h2 {
    font-size: 3em;
  }
}

.your-class {
  display: flex;
  flex: 1;
  width: 100%;
}

.intro {
  display: flex;
  max-width: 60%;
  min-width: 200px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  margin-bottom: 50px;
  h1 {
    border-bottom: 3px solid white;
    border-radius: 6px;
  }
}
