// @tailwind base;
//
// body {
//   background-color: rgba(122, 122, 122, 0.5);
// }
// h1 {
//   font-size: xx-large;
// }
// a {
//   font-size: medium;
//   font-family: Arial, Helvetica;
//   color: rgba(255, 255, 255, 0.6);
// }
//
// @tailwind components;
//
// @tailwind utilities;

/* Here we can add our own utilities or custom CSS */

body {
  //  background-color: rgba(48, 26, 247, 0.801);
  background-image: url("../svgImages/Circles.svg");
  background-size: cover;
}

h1 {
  font-size: 3em;
  color: rgb(235, 232, 232);
}

a {
  font-size: 1.5em;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: rgba(255, 255, 255, 0.6);
}

p {
  font-size: 1.1em;
}

.title {
  width: 20em;
  height: 20em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 50%;
}

.intro {
  display: flex;
  max-width: 33%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 3px solid white;
  border-radius: 6px;
}
