.text {
  grid-area: header;
  display: flex;
  text-align: center;
  margin-top: 30px;
  flex-direction: column;
  justify-content: center;
  padding: 2%;
  border-radius: 7px;
}

#image-text {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10%;
  padding: 2%;
  text-align: center;
  flex-direction: column;
  grid-area: image-text;
  border-radius: 4px;
}

.layout-grid {
  position: relative;
  display: grid;
  max-width: 100%;
  grid-template-columns: 1fr 5% 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "item1 . item2"
    ". . ."
    "image-text image-text image-text"
    "item-main item-main item-main";

  row-gap: 0px;
  column-gap: 30px;
  flex-shrink: 1;
  margin: 20px auto;
  z-index: 100;

  .item-main {
    grid-area: item-main;
  }

  .item-1 {
    grid-area: item1;
  }
  .item-2 {
    grid-area: item2;
  }
  .item-3 {
    grid-area: item3;
  }
  .item-4 {
    grid-area: item4;
  }
}

@media (max-width: 512px) {
  .layout-grid {
    grid-template-columns: 1fr;
    grid-template-areas:
      "header"
      "item1"
      "item2"
      "image-text"
      "item-main";
  }
}
