.layoutGrid {
  position: relative;
  display: grid;
  flex-wrap: wrap;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  flex-shrink: 1;
  gap: 20px;
  margin: 0px auto;
  z-index: 100;
}
