.layout {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 10% 9%;
  z-index: 50;
  background-color: rgba(238, 238, 238, 0.2);
  margin: 0px 4%;
  border-radius: 5px;
}
